
body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 5rem;
  width: 100%;
}

/* Popup styling */

.mapboxgl-popup {
  padding-bottom: 5px;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 250px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  background: rgb(61, 59, 59);
  text-align: center;
  color: #fff;
  margin: 0;
  display: block;
  padding: 15px;
  font-weight: 700;
  margin-top: -5px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 10px 3px 10px 10px;
  font-weight: 400;
}

.mapboxgl-container {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
  margin-top: 3px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
  border-bottom-color: rgb(61, 59, 59);
}

#info {
    position: absolute;
    display: none;
    margin: 20px;
    width: 25%;
    height: 10rem;
    top: 0;
    bottom: 20%;
    padding: 20px;
    background-color: #fff;
    overflow-y: scroll;
    font-family: sans-serif;
    z-index: 12;
  }

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

#menudiv {
    display: none;
    position: absolute;
    width: 225px;
    height: 125px;
    left: 0;
	right: 0;
    bottom: 5rem;
    background: #003459;
	margin-left: auto;
 	margin-right: auto;
    z-index: 9; 
    border-radius: 10rem 10rem 0 0;
}
#menu {
    position: absolute;
    /* bottom: 1.5rem; */
    height: 8rem;
    width: 8rem;
    left: 0;
	right: 0;
    bottom: 1rem;
	margin-left: auto;
 	margin-right: auto;
    z-index: 12; 
    border-radius: 4rem;
    white-space: nowrap;
}
 #menu:hover  {
    height: 8.2rem;
    width: 8.2rem;

} 

.fa-lyft {
    position: absolute;
    left: 2rem;
    top: 4rem;
    color: white;
    font-size: 2rem;}

.fa-ambulance {
    position: absolute;
    left: 6.2rem;
    top: 2rem;
    color: white;
    font-size: 1.8rem;}
.fa-user-friends {
    position: absolute;
    left: 10.5rem;
    top: 4rem;
    color: white;
    font-size: 1.8rem;
}

.fab:hover {
    font-size: 2.1rem;
}

.fas:hover {
    font-size: 1.9rem;
}

#bottom-bar {
    position: absolute;
    bottom: 0;
    height: 5rem;
    width: 100vw;
    background-color: white;
    z-index: 10;
}